* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #D5D5D5;
}
/*--------PARTE DE ABAJO TABLA.HTML---------------*/
table{
    width: 700px;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.4);
    position: relative;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    
}

tr:hover {background-color:rgba(0, 0,0,0.4) ;}
th:hover {background-color:rgba(200, 200, 200,0.2);}
td:hover {background-color:rgba(200, 200, 200,0.3);}